* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    color: white;
    background-color: aqua;
}

.body {
    color: white;
    background-color: blueviolet;
}